<!-- Adding a nav bar -->
{{menu-bar onLogin='transitionToLoginRoute'}}
<!-- End of nav bar -->
<div class=main>
{{outlet}}
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
